/*-------------------------------------
        2. CSS Variables
      --------------------------------------*/
:root {
    /*------Color variables------*/
    --black: #1a1a1a;
    --black_main: #181818;
    --blue_gray_100: #cccccc;
    --blue_gray_100_01: #d9d9d9;
    --blue_gray_100_02: #d0d0d0;
    --blue_gray_100_03: #cfcfcf;
    --blue_gray_400: #8d8d8d;
    --blue_gray_400_01: #888888;
    --brand: #ff5a00;
    --gray_100: #f3f3f3;
    --gray_700: #555555;
    --gray_800: #393939;
    --gray_900: #191b1d;
    --white: #ffffff;
    --color_white_a700_19: #ffffff19;
    --color_white_a700_33: #ffffff33;
    --black_A700_01: #000000;
    --black_600: #656d76;
    --gray_shadow: #00000029;
    --primary-hover-color: #ff9459;

    /*------Shadow variables------*/
    --shadow-xs: 0 0 13px 5px #00000029;

    /*------Border radius variables------*/
    --radius-xs: 8px;
    --radius-sm: 14px;
    --radius-md: 30px;
    --radius-lg: 32px;
    --radius-xl: 48px;
    --radius-2xl: 90px;

    /*------Spacing variables------*/
    --space-xs: 6px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 14px;
    --space-xl: 16px;
    --space-2xl: 18px;
    --space-3xl: 20px;
    --space-4xl: 30px;
    --space-5xl: 32px;
    --space-6xl: 34px;
    --space-7xl: 40px;
    --space-8xl: 98px;
}

* {
    margin: 0;
    padding: 0;
}

.font-title-bold {
    font-family: DMSans !important;
    font-weight: 400;

    font-size: 16px;

    line-height: 43px;

    color: white;

    font-style: normal;
}

/* Navbar Start CSS */

.navbar {
    background-color: var(--brand) !important;
    color: var(--white) !important;
}
.navbar .btn:hover {
    background-color: var(--primary-hover-color);
    color: var(--black) !important;
}
.navbar-brand {
    color: var(--white) !important;
    text-decoration: none;
}
/* Navbar End CSS */

/* Banner Section CSS */

.banner-section {
    width: 100%;
    position: relative;
    background: rgb(255, 245, 249);
    height: 464px;
    margin-top: 0px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.banner-section .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 40%;
}

.banner-section .banner-content .btn {
    background-color: var(--brand);
}

.banner-section .banner-content .btn:hover {
    background-color: var(--primary-hover-color);
}
/* End Banner Section CSS */

.kxELPo {
    width: 25%;
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
    margin: 0px auto 24px;
    color: rgb(38, 38, 38);
}

/* categories-section */

.cnrhhY {
    min-height: 185px;
    height: 100%;
}

.gnTvXE {
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    display: flex; /* Ensure it uses flexbox */
}

.cnrhhY .image-container {
    width: 40%;
    max-width: 200px;
    position: relative;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    overflow: hidden; /* Ensure the image doesn't overflow */
}

.cnrhhY .image-container img {
    object-fit: cover; /* Ensures the image covers the container without squishing */
    height: 100%;
    width: 100%;
}

.cnrhhY .markdown-rich-text-block {
    width: 60%;
    padding: 20px; /* Adjusted for better spacing */
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the content vertically */
}

.cnrhhY .markdown-rich-text-block p.cta-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--brand);
    text-align: start;
    margin-top: auto; /* Ensure it sticks to the bottom */
}

@media (max-width: 1350px) {
    .gnTvXE {
        width: 100% !important;
    }
    .categories-section {
        padding: 0px !important;
        margin: 0px !important;
    }

    .categories-section .row {
        width: 100% !important;
    }
}

/* End categories-section */

/* Join us Start CSS */
.button-module_button__oNg2G.button-module_button-primary__i52py:focus:not(
        [disabled]
    ) {
    box-shadow: 0 0 0 0 var(--mm-color-neutral-0, #fff),
        0 0 0 3px var(--mm-color-primary-30, #ffcdb2), 0 0 transparent;
}
.button-module_button__oNg2G.button-module_button-primary__i52py:active:not(
        [disabled]
    ) {
    background: var(--mm-color-primary-100, #ff5a00);
}

.button-module_button__oNg2G.button-module_button-primary__i52py {
    background: var(--mm-color-primary-100, #ff5a00);
}

.button-module_button__oNg2G {
    font-size: var(--mm-font-size-m, 1rem);
    font-weight: 400;
    line-height: 1.5rem;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: 0;
    line-height: normal;
    border-radius: 0.5rem;
    color: var(--mm-color-neutral-0, #fff);
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
}

.button-module_button__oNg2G.button-module_button-size-sm__cWD2n {
    -webkit-padding-start: var(--mm-spacing-xs, 0.75rem);
    padding-inline-start: var(--mm-spacing-xs, 0.75rem);
    -webkit-padding-end: var(--mm-spacing-xs, 0.75rem);
    padding-inline-end: var(--mm-spacing-xs, 0.75rem);
    height: 2rem;
    min-width: 2rem;
    font-size: 1rem;
}

.button-module_button__oNg2G.button-module_button-primary__i52py:hover:not(
        [disabled]
    ) {
    background: var(--mm-color-primary-150, #e65100);
}

/* End Join us End CSS */

/* Cities start CSS */

#cities .card:hover {
    color: #e65100 !important;
    cursor: pointer;
}

/* Cities end CSS */

/* Footer Start CSS */

footer {
    background-color: #262626 !important;
}

footer a {
    text-decoration: none !important;
    color: #999;
}

footer a:hover {
    color: #e65100;
}

footer p {
    color: #999;
}

/* Footer End CSS */

/* Discover Our New App Start CSS */

/* Discover Our New App End CSS */

/* Media Screens Start */

@media (max-width: 600px) {
    #join_us {
        width: 100% !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

@media (max-width: 650px) {
    .kxELPo {
        width: 100% !important;
    }
}

@media (max-width: 750px) {
    .address-selector-component {
        display: none !important;
    }
    .discover-our-new-tablet-app {
        padding-bottom: 50px !important;
    }
}

/* Media Screens End */

/* Become a partner start CSS */
.header-image img {
    width: 100%;
}

.header-form {
    top: 16%;
    left: 10%;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all 0.3s;
}

.check::before {
    content: "";
    position: absolute;
    border: solid #fff;
    display: block;
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.2em 0.2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - 0.3em);
    top: calc(50% - 0.6em);
    transform: rotate(0deg);
    transition: all 0.3s;
    transform-origin: center center;
}

.check:checked {
    animation: a 0.3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

@keyframes a {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }

    50% {
        opacity: 0;
        transform: scale(0.8) rotateY(180deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateY(360deg);
    }
}

@media (max-width: 1200px) {
    .form {
        width: 500px !important;
        /* translate on x */
        transform: translateX(-20%) !important;
    }

    .header-image img {
        width: 100% !important;
        height: 100% !important;
    }

    .header-form h1 {
        position: relative;
        right: 60px;
        bottom: 60px;
    }

    .header-form p.text-white {
        position: relative;
        right: 60px;
        bottom: 60px;
    }

    #faq {
        margin-top: 150px !important;
    }
}

@media (max-width: 500px) {
    .form {
        width: 500px !important;
        /* translate on x */
        transform: translateX(-20%) !important;
    }

    .header-image img {
        width: 100% !important;
        height: 100% !important;
    }

    .header-form h1 {
        position: relative;
        right: 60px;
        bottom: 60px;
    }

    .header-form p.text-white {
        position: relative;
        right: 60px;
        bottom: 60px;
    }

    #faq {
        margin-top: 200px !important;
    }
}

/* End form */

/* Become a partner end CSS */

/* FAQ CSS Start */

#faq .button,
#faq button:not([data-filter]):not(.mfp-arrow),
#faq input[type="button"],
#faq input[type="reset"],
#faq input[type="submit"] {
    position: relative;
    width: auto;
    color: #fff;
    background-color: #262626;
    -moz-appearance: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    padding: 20px 41px;
    margin-top: 0;
    -webkit-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
}

.accordion {
    --bs-accordion-color: #262626 !important;
    --bs-accordion-bg: #262626 !important;
    --bs-accordion-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(
        var(--bs-border-radius) - (var(--bs-border-width))
    );
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(
        data:image/svg + xml,
        %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23212529"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
    );
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(
        data:image/svg + xml,
        %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23052c65"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
    );
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

/* FAQ CSS End */
